.about {
  width: 94vw;
  height: 100vh;
  margin-left: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    width: 50vw;
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    color: white;
  }
}
