@import url(https://fonts.googleapis.com/css?family=Lato);
$primary: #f5f8de;
$secondary: #9e2b25;

$menu: $secondary;
.container {
  background-color: white;
}
.menuLeft {
  z-index: 1;

  position: absolute;
  width: 100px;
  height: 100vh;
  border-right: black solid 1px;
  //Logo to up left bar
  &__logo {
    padding-top: 2vh;
    height: 13vh;
    & img {
      width: 50px;
    }
  }
  //Style to burger left bar
  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70vh;
    left: 0;
  }

  .wrapper {
    width: 60px;
    margin: 0 auto;
  }

  .bigmac {
    position: absolute;
    top: 27px;
    left: 10px;
    height: 6px;
    width: 40px;
    background-color: $secondary;
    transition: background-color 100ms ease-in;

    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: 0;
      height: 6px;
      width: 40px;
      background-color: $secondary;
      transition: all 150ms ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      height: 6px;
      width: 40px;
      background-color: $secondary;
      transition: all 150ms ease-in-out;
    }

    .meat {
      height: 60px;
      width: 60px;
      position: absolute;
      top: -27px;
      left: -10px;
      font-family: "Lato", sans-serif;
      font-size: 0em;
      line-height: 60px;
      text-align: center;
      text-decoration: none;
      color: $menu;
      cursor: pointer;
      user-select: none;
      z-index: 2;
      transition: font-size 275ms ease-out;
    }
  }

  .bun {
    position: relative;
    width: 60px;
    height: 60px;

    &:hover {
      .bigmac {
        background-color: transparent;

        .meat {
          font-size: 1.25em;
        }

        &::before {
          width: 60px;
          left: -10px;
          top: -22px;
        }

        &::after {
          width: 60px;
          left: -10px;
          bottom: -22px;
        }
      }
    }
  }
  //Style to social icons left bar
  &__social {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 1vh;
    & img {
      margin-bottom: 2vh;
      border-radius: 50%;
      background-color: white;
      width: 35px;
    }
  }

  @media screen and (max-width: 30em) {
    .bigmac {
      background-color: transparent;

      .meat {
        font-size: 1.25em;
      }

      &::before {
        width: 60px;
        left: -10px;
        top: -22px;
      }

      &::after {
        width: 60px;
        left: -10px;
        bottom: -22px;
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: column;
  }
}
